sudo: false  # run travis jobs in containers
language: python
python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
  - pypy
  - pypy3.5
matrix:
  include:
  # See https://github.com/travis-ci/travis-ci/issues/9069
  # for more information.
  - python: 3.7
    sudo: required
    dist: xenial
cache: pip
install:
  - pip install tox-travis
script: tox
